*{
  text-align: center;
  max-height: 100%; 
}

.login{
  padding: 20px;
  max-height: 100%;
  max-width: 100%;
  margin: 150px;
}

.user{
  max-height: 500px;
  max-width: 100%;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.password{
  max-height: 800px;
  max-width: 100%;
  padding: 5px;
  margin: 2px;
  font-size: 20px;
}

.button{
  border-radius: 10px;
  margin : 5px;
  font-size: 20px;
}