#parent{
  display: table;
  width: 100%;
}

#form-inside-input {
   left: 50%;
   top: 50%;
   position: absolute;
   -webkit-transform: translate3d(-50%, -50%, 0);
   /*-moz-transform: translate3d(-50%, -50%, 0);*/
   transform: translate3d(-50%, -50%, 0);
}
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

Form{
  margin : auto;
}

.button {
  display: inline-block;
  width: 85px;
  margin: 20px 40px;
  border: 5px solid black;
}